.myrows {
    border: 3px solid green;
}

.mycols {
    border: 3px solid red;
}

.mycontainer {
    background-color: aqua;
    border: 3px solid red;
}

#topHeader {
    border-bottom: 1px solid #ebebeb;
}

#topHeader a{
    color: #2c3e50;
    font-weight: 600;
    font-size: 0.89rem;
}